/*------------------------*/
.image{
  width: 60%
}
/*------------------------*/
.content {
  text-align: center;
}
/*------------------------*/
.menu {
  position: absolute;
  padding: 10px 2% 10px 2%;
  margin: 5px 2% 5px 1%;
  background-color: #fff;
  border: 1px solid #000;
}
/*------------------------*/
.user{
  text-align: center;
}
/*------------------------*/
.h{
  color: #4682B4;
}
